#Smart charging
allow system_server sysfs_battery_supply:file { getattr open read write };

allow system_server default_android_service:service_manager { add find };
